<html lang="en">



<div class="screen">
    <div class="el-moco-banner">
        <div class="logo-hd"><a style="width: 100%; height: 100%; display: block;" (click)="redirectTo()"></a></div>
    </div>

    <div class="banner">


        <nav class="navbar navbar-expand-lg navbar-moco bg-moco-menu ">

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                SECCIONES
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link-menu" (click)="redirectTo()"></a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link-news" routerLink="/home" [queryParams]="{ news: 'noticias'}">NOTICIAS</a>
                    </li>
                    <li class="nav-item-2">
                        <a class="nav-link-science" routerLink="/home" [queryParams]="{ news: 'ciencia'}">CIENCIA</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-art" routerLink="/home" [queryParams]="{ news: 'arte'}">ARTE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-fun" routerLink="/home" [queryParams]="{ news: 'ocio'}">OCIO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-find" routerLink="/home" [queryParams]="{ news: 'descubre'}">DESCUBRE</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link-search" routerLink="/buscador"></a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link-moconauta" routerLink="/ingreso">
                            <div class="profile-pic" [style.background-image]="'url(' + userPicture + ')'"></div>
                            {{Moconauta}} <span class="opciones">{{Ingreso}}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="navbar navbar-expand-lg navbar-moco-second-menu bg-moco-second-menu ">
     
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav2" aria-controls="navbarNav2" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span> 
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav2">
              <ul class="navbar-nav">
                <li class="nav-item" >
                    <a class="nav-link-quienes-somos" routerLink="/quienes-somos">QUIÉNES SOMOS</a>
                </li>
                <li class="nav-item">
                     <a class="nav-link-moco-shop" href="https://www.mocoshop.mx/" target="_blank">MOCO SHOP</a>
                </li>
                <li class="nav-item" > 
                  <a class="nav-link-moco-app" routerLink="/moco-app">MOCO APP</a>
                </li>
                <li class="nav-item" >
                  <a class="nav-link-revista-tri" routerLink="/revista-trimestral">REVISTA TRIMESTRAL</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link-mocotips-padres" routerLink="/mocotips-padres">MOCOTIPS PARA PADRES</a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link-contacto" routerLink="/contactanos">CONTACTO</a>
                </li>
      
              </ul>
            </div>
          </nav>
    </div>
    <div class="structure">
        <article class="first-news">
            <div class="new-line">
                <div class="row h-100">
                    <div class="col-sm-12 my-auto">
                        AVISOS LEGALES
                    </div>
                  </div>
                </div>
        </article>
        <div class="options">

            <div class="vertical-menu">
                <a class="menu">
                    <div class="first-moco"></div> MENÚ <div class="second-moco"></div>
                </a>
                <a class="options" routerLink="/quienes-somos">
                    <div class="quienes"></div>QUIÉNES SOMOS
                </a>
                <a class="options" href="https://www.mocoshop.mx/" target="_blank">
                    <div class="moco-shop"></div>MOCO SHOP
                </a>
                <a class="options" routerLink="/moco-app">
                    <div class="moco-app"></div>MOCO APP
                </a>
                <a class="options" routerLink="/revista-trimestral">
                    <div class="revista"></div>REVISTA TRIMESTRAL
                </a>
                <a class="options" routerLink="/mocotips-padres">
                    <div class="mocotips"></div>MOCOTIPS PARA PADRES
                </a>
                <a class="options" routerLink="/contactanos">
                    <div class="contacto"></div>CONTACTO
                </a>
            </div>


        </div>
    </div>
    <div class="second-news">
        <div class="latest-news">

            <a class="big-new">

             

                    <div class="comments-opinion-text">
                        <span class="green-comment">DE LOS DATOS PERSONALES.</span> <br><br>

                        Sabiduría Pegajosa SAS (en adelante “SP”) con domicilio en Calle Francisco Márquez 1718, Niños
                        Héroes, 44260 Guadalajara, Jalisco, tiene la convicción de proteger la información personal
                        proporcionada por sus usuarios (en adelante “Datos Personales”) y es el responsable de su
                        Tratamiento (término que se define más adelante) cuando sean recabados a través de los sitios de
                        Internet y Aplicación de El Moco, si lo lees se te pega, en adelante el “Sitio APP”. <br><br>

                        <span class="green-comment">FINALIDAD DEL TRATAMIENTO.</span> <br><br>

                        SP podrá solicitar y/o recabar a través del Sitio APP, los Datos Personales de los usuarios para
                        los
                        fines abajo señalados, así como para dar cumplimiento con disposiciones legales que así lo
                        requieran, o bien, cuando sea solicitado por autoridades competentes (en adelante el
                        “Tratamiento”).
                        SP y/o cualquier tercero que llegue a intervenir en cualquier fase del Tratamiento de Datos
                        Personales, guardará confidencialidad respecto de estos cuando tengan dicho carácter, conforme a
                        las
                        disposiciones legales aplicables en los Estados Unidos Mexicanos (en adelante “México”).
                        <br><br>

                        Los Datos Personales que los usuarios proporcionen al momento de su ingreso y/o registro al
                        Sitio
                        App tienen como finalidad (i) poder proporcionarles la mayor experiencia personalizada en el uso
                        de
                        los servicios y productos que SP proporciona, (ii) para hacer posible que nuestros anunciantes
                        puedan llegar a grupos de audiencia adecuados, (iii) así como para generar bases de datos que SP
                        utilizará para fines comercial, de publicidad y promoción, (iv) que el Usuario pueda participar
                        en
                        concursos o promociones patrocinadas por SP o por terceros, (v) participar en las encuestas
                        puestas
                        en práctica para evaluar y/o proporcionar de manera más satisfactoria los Servicios, (vi)
                        generar
                        bases de datos que SP utilizará para invitaciones a eventos, o (vii) cuando los Usuarios quieran
                        hacer una compra. <br><br>

                        <span class="green-comment">DATOS PERSONALES POR RECABAR.</span> <br><br>

                        Los Datos Personales que se solicitan del usuario son: <br><br>

                        Nombre completo <br>
                        Correo electrónico <br>
                        Sexo <br>
                        País <br>
                        En caso de no contar con los datos señalados el usuario no podrá acceder a los servicios para
                        los
                        que se requirieron. <br><br>

                        <span class="green-comment">CONSENTIMIENTO.</span> <br><br>

                        El ingreso y/o registro a través del Sitio APP implica el consentimiento pleno y sin reservas de
                        los
                        usuarios para el Tratamiento de sus Datos Personales de acuerdo con el presente Aviso de
                        Privacidad. <br><br>

                        <span class="green-comment">PRIVACIDAD Y CONSENTIMIENTO DE MENORES.</span><br><br>

                        En el caso de Tratamiento de Datos Personales de menores se estará sujeto a lo siguiente.
                        <br><br>

                        Se entenderá por "menores" a todos los menores de edad o personas en estado de interdicción y
                        por
                        "padres" a tutores, representantes legales o personas que ejercen la patria potestad sobre los
                        mismos de conformidad con el Código Civil Federal. <br><br>

                        A efecto de brindar mayor protección y seguridad a los menores, El Moco solo recaba datos
                        personales
                        para registro, se podrán solicitar datos personales de menores, tales como nombre, edad, sexo y
                        correo electrónico siempre salvaguardando la privacidad y seguridad de estos. <br><br>

                        En los casos en que dichos datos se soliciten, se tomarán las siguientes medidas a efecto de
                        protegerlos: <br><br>

                        Al momento de recabar los datos, se solicita la dirección de correo electrónico de los padres a
                        efecto de enviar una notificación por dicho medio para que éstos se informen de la voluntad de
                        los
                        menores de acceder a las funciones del Sitio que así lo requieran y principalmente para que
                        otorguen
                        o nieguen el consentimiento respecto a la obtención, almacenamiento y tratamiento de los datos
                        personales de los menores. <br>
                        Se envía el correo electrónico a la dirección proporcionada con la información de la cuenta del
                        menor y en el mismo se incluye una liga en la cual podrá indicar si da o no su consentimiento.
                        Una vez que los padres autoricen el registro del menor, éste podrá acceder a las funciones del
                        Sitio
                        App que así lo requieran, sin autorización adicional de los mismos. Es decir, la cuenta del
                        menor
                        queda autorizada para navegar libremente en el Sitio App. <br>
                        Si El Moco no recibe respuesta por parte de los padres dentro de 24 (veinticuatro) horas
                        siguientes
                        al envío de la notificación, los datos de los menores serán eliminados de nuestra base de datos,
                        y
                        éste no contará con acceso a las partes del Sitio App que requieran para su funcionamiento el
                        tratamiento de Datos Personales. <br>
                        Nuestra política de privacidad y procedimientos siempre se encuentran publicados y abiertos al
                        público en general para que los padres puedan estar informados y tomar la decisión que
                        consideren
                        adecuada respecto al tratamiento de Datos Personales de sus menores. <br>
                        Los padres podrán ejercer los derechos de Acceso, Rectificación, Cancelación y Oposición al
                        tratamiento de Datos Personales de conformidad con lo establecido en el apartado correspondiente
                        del
                        presente aviso de privacidad y de las leyes aplicables en la materia. <br><br>

                        <span class="green-comment">MEDIOS PARA LIMITAR EL USO O DIVULGACIÓN DE DATOS PERSONALES.</span>
                        <br><br>

                        SP cuenta con medidas físicas, técnicas y administrativas de seguridad para la protección de
                        Datos
                        Personales proporcionados por los usuarios. No obstante, lo señalado en el apartado de
                        Consentimiento, SP tomará las acciones, medidas y previsiones especiales que considere
                        necesarias, a
                        fin de salvaguardar el derecho a la protección de Datos Personales de menores de edad e
                        incapaces. <br><br>

                        Si usted desea dejar de recibir mensajes promocionales vía correo electrónico y/o vía telefónica
                        por
                        parte de SP, puede solicitarlo a través de legal@elmoco.com.mx <br><br>

                        <span class="green-comment">EXCLUSIÓN DE RESPONSABILIDAD DEL SITIO.</span> <br><br>

                        El Sitio APP podría contener hipervínculos o hipertextos “links”, banners, botones y/o
                        herramientas
                        de búsquedas en la “World Wide Web” que al ser utilizados por los usuarios transportan a otros
                        portales o sitios de Internet que podrían ser propiedad de terceros. Los Datos Personales que
                        los
                        usuarios llegaren a proporcionar a través de estos portales o sitios de Internet no se
                        encuentran
                        contemplados por este Aviso de Privacidad y su Tratamiento no es responsabilidad de SP.
                        Recomendamos
                        a los usuarios verificar los Avisos de Privacidad desplegados y aplicables a estos portales y
                        sitios
                        de Internet. <br><br>

                        Los usuarios podrán encontrar dentro del Sitio, páginas, promociones, micrositios, tiendas
                        virtuales, encuestas, y otros servicios que pueden estar compartidos con terceros y que podrían
                        solicitar sus Datos Personales (en adelante “Sitios de Terceros”). Cualquier información
                        relacionada
                        con los Datos Personales que se proporcionen a través de los Sitios de Terceros se sujetará a
                        los
                        respectivos avisos de privacidad que se contengan en cada uno de ellos, salvo que SP señale lo
                        contrario. <br><br>

                        SP advierte a sus usuarios que algunos servicios del Sitio APP podrían incluir, de manera
                        enunciativa más no limitativa, páginas de Internet personales, avisos clasificados, correos
                        electrónicos, entre otros. Por lo tanto, los Datos Personales que se revelen a través de dichos
                        medios podrían en algunos casos ser accesibles por terceras personas. SP no será responsable por
                        el
                        uso, publicación, revelación y/o divulgación que se haga respecto de los Datos Personales
                        usados,
                        publicados, revelados y/o divulgados a través de los medios antes enunciados. Recomendamos a los
                        usuarios ser cuidadosos y responsables sobre toda información de carácter personal que
                        proporcionen
                        en dichos medios. <br><br>

                        <span class="green-comment">TRANSFERENCIA DE DATOS PERSONALES. </span><br><br>

                        SP podrá, sin consentimiento del titular, revelar, divulgar y/o transferir dentro y fuera del
                        país
                        los Datos Personales proporcionados por los usuarios, a sus empresas filiales, subsidiarias y/o
                        relacionadas, así como para dar cumplimiento con disposiciones legales que así lo requieran, o
                        bien
                        cuando sea solicitado por autoridades competentes. <br><br>

                        <span class="green-comment"> MEDIOS PARA EJERCER LOS DERECHOS DE LOS TITULARES DE DATOS
                            PERSONALES Y REVOCACIÓN DEL
                            CONSENTIMIENTO.</span> <br><br>

                        Los padres de los usuarios podrán solicitar el ejercicio de sus derechos a: <br><br>

                        Acceder a sus Datos Personales; <br>
                        Rectificar sus Datos Personales cuando sean inexactos o incompletos; <br>
                        Cancelar sus Datos Personales; <br>
                        Oponerse por causa legítima al Tratamiento de sus Datos Personales, y/o
                        Revocar su consentimiento para el Tratamiento de sus Datos Personales en cualquier momento, a
                        fin de
                        que se deje de hacer uso de estos. <br>
                        Sin embargo, es importante que tenga en cuenta que no en todos los casos podremos atender su
                        solicitud para cancelar sus Datos Personales, oponerse al Tratamiento o revocar su
                        consentimiento,
                        ya que es posible que por alguna obligación legal requiramos seguir tratando sus Datos
                        Personales.
                        El usuario deberá considerar que, para ciertos fines, la revocación de su consentimiento
                        implicará
                        la suspensión del servicio o la conclusión de su relación con SP. <br><br>

                        El ejercicio de los derechos de Acceso, Rectificación, Cancelación u Oposición de Datos
                        Personales y
                        Revocación del consentimiento que realicen los usuarios deberá realizarse previa solicitud a SP
                        y
                        contener al menos lo siguiente: <br><br>

                        El nombre del titular, domicilio y correo electrónico para comunicarle la respuesta a su
                        solicitud;
                        Los documentos que acrediten la identidad o, en su caso, la representación legal del titular;
                        La descripción clara y precisa de los Datos Personales respecto de los que se busca ejercer
                        alguno
                        de los derechos antes mencionados (en el caso de rectificación se deberá indicar las
                        modificaciones
                        a realizar y aportar la documentación que sustente su petición); <br><br>
                        Cualquier otro elemento o documento que facilite la localización de los Datos Personales.
                        Para efecto de lo anterior SP pone a disposición de los usuarios el siguiente correo
                        electrónico:
                        legal@elmoco.com.mx <br><br>

                        SP dará respuesta a la solicitud de los usuarios en un plazo no mayor a 20 días hábiles contados
                        a
                        partir de la fecha en que reciba la petición correspondiente, a través del correo electrónico
                        que
                        haya sido proporcionado para tal efecto. <br><br>

                        El ejercicio por parte de los usuarios de los derechos antes mencionados deberá sujetarse a las
                        leyes y reglamentos aplicables vigentes en México. <br><br>

                        <span class="green-comment">COOKIES Y WEB BEACONS.</span> <br><br>

                        Con el objetivo de mejorar la experiencia de sus usuarios en el Sitio App, SP podrá utilizar
                        “cookies”. Para efectos del presente Aviso de Privacidad “cookies” se identificará como los
                        archivos
                        de texto de información que un sitio web transfiere al disco duro de la computadora de los
                        usuarios
                        con el objeto de almacenar ciertos registros y preferencias. SP puede utilizar “cookies” para
                        mejor
                        entendimiento de la interacción de los usuarios con el Sitio y los servicios que se
                        proporcionan. El
                        Sitio puede permitir publicidad o funciones de terceros que envíen “cookies” a las computadoras
                        de
                        los usuarios. Mediante el uso de “cookies” no se identifica personalmente a los usuarios,
                        únicamente
                        a sus computadoras. <br><br>

                        Por su parte las “web beacons” son imágenes insertadas en una página de Internet o correo
                        electrónico que pueden ser utilizadas para monitorear el comportamiento de un visitante, como
                        almacenar información sobre la dirección IP del usuario, horario de navegación, duración del
                        tiempo
                        de interacción en el Sitio, secciones consultadas, páginas de Internet accedidas previo a la
                        nuestra
                        y el tipo de navegador utilizado. <br><br>

                        Los usuarios podrán cambiar sus opciones a través de sus equipos de cómputo y/o navegadores para
                        dejar de aceptar “cookies” y/o “web beacons” o bien confirmar si aceptan o no las mismas.
                        <br><br>

                        <span class="green-comment">DATOS PERSONALES SENSIBLES.</span> <br><br>

                        De conformidad con la legislación mexicana vigente, se conocen como “Datos Personales Sensibles”
                        a:
                        “aquellos que puedan revelar aspectos como origen racial o étnico, estado de salud presente y
                        futuro, información genética, creencias religiosas, filosóficas y/o morales, afiliación
                        sindical,
                        opiniones políticas, preferencia sexual”. <br><br>

                        En caso de que SP llegue a requerir Datos Personales Sensibles de los usuarios, estos deberán
                        proporcionar su consentimiento expreso. <br><br>

                        <span class="green-comment">CAMBIOS AL AVISO DE PRIVACIDAD. </span><br><br>

                        SP se reserva el derecho de modificar en cualquier momento el contenido del presente Aviso de
                        Privacidad. Cualquier cambio en el Aviso de Privacidad le será informado a sus usuarios a través
                        del
                        Sitio. <br><br>

                        Una vez que se publique el Aviso de Privacidad en el Sitio entrará en vigor automáticamente.
                        <br><br>

                        La fecha de última actualización del presente aviso es el 03 de marzo de 2020. <br><br>


                    </div>

                    <div class="button-publish" routerLink="/quienes-somos"></div>

           

            </a>



            <div class="options">

            </div>





        </div>

    </div>

    <div class="footer"> <!--Aquí se cambia la clase dependiendo de la opción seleccionada en el navbar-->
        <div class="logo"> <a style="width: 100%; height: 100%; display: block;" (click)="redirectTo()"></a> </div>
        <div class="lema">EL MOCO, SI LO LEES SE TE PEGA &#174; 2020</div>
        <div class="redes-box">
          <a class="fb" href="https://www.facebook.com/elmoco.mx" target="_blank"></a>
          <a class="tw" href="https://twitter.com/elmocomx" target="_blank"></a>
          <a class="in" href="https://www.instagram.com/elmocomx/" target="_blank"></a>
          <a class="yt" href="https://www.youtube.com/channel/UCFEUx_LMDk2t1pptPR3gRow" target="_blank"></a>
        </div>
        <div class="text-box">SÍGUENOS EN</div>
      
        <div class="avisos-ter-box">
          <div class="avisos" routerLink="/avisos">AVISOS LEGALES</div>
          <div class="franja"></div>
          <a class="terminos" routerLink="/terminos">TÉRMINOS Y CONDICIONES</a>
        </div>
      </div>
</div>

</html>