html {
  overflow:auto;
  padding:0;
  margin:0;

  top:0;
  left:0;

  width: 100%;
  height: 100%;
  background-image:linear-gradient(rgba(144, 207, 19, 0.5), rgba(144, 207, 19, 0.5)),  url("./../../assets/images/Backround_Lines.jpg");
}
.screen{
  max-width: 1500px;
  position: relative;
  width:100%;
  height:100%;
  left: calc(50% - 750px);
  background-color: white;
}
a {text-decoration: none;}
@media all and (max-width: 1500px) {
  html {
    margin-left: 0%;
    margin-right: 0%;
    background-image: none;
  }
  .screen{
    left: 0%;
    background-color: white;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    top: -7.5%;
  }
}
.bg-moco-menu{
  background-color:#00758b!important;
  padding: .0rem 0rem;
  -webkit-box-shadow: inset -12px 4px 56px -13px rgba(0,0,0,0.35);
  -moz-box-shadow: inset -12px 4px 56px -13px rgba(0,0,0,0.35);
  box-shadow: inset -12px 4px 56px -13px rgba(0,0,0,0.35);
}
.navbar-moco .navbar-nav .nav-link{
  color:rgba(255, 255, 255, 0.774);
}/*News button styles*/
.navbar-moco .navbar-nav .nav-link-news{
  color:rgb(255, 255, 255);
  display: block;
  padding:.5rem 1.5rem;
  background-color: rgb(245,152,19);
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
}
.nav-link-news:focus,.nav-link-news:hover{
  text-decoration:none
}
.navbar-moco .navbar-nav .nav-link-news:focus,
.navbar-moco .navbar-nav .nav-link-news:hover{

  background-color: rgba(245, 151, 19, 0.856);
}
/*Science button styles*/
.navbar-moco .navbar-nav .nav-link-science{
  color:rgba(255, 255, 255);
  display: block;
  padding:.5rem 1.5rem;
  background-color: rgb(34,201,225);
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
}
.nav-link-news:focus,.nav-link-science:hover{
  text-decoration:none
}
.navbar-moco .navbar-nav .nav-link-science:focus,
.navbar-moco .navbar-nav .nav-link-science:hover{
  color:rgba(255,255,255);
  background-color: rgba(34, 199, 225, 0.884);
}
/*Art button styles*/
.navbar-moco .navbar-nav .nav-link-art{
  color:rgba(255, 255, 255);
  display: block;
  padding:.5rem 1.5rem;
  background-color: rgb(218,97,171);
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
}
.nav-link-news:focus,.nav-link-art:hover{
  text-decoration:none
}

.navbar-moco .navbar-nav .nav-link-art:focus,
.navbar-moco .navbar-nav .nav-link-art:hover{
  color:rgba(255,255,255);
  background-color: rgba(218, 97, 172, 0.877);
}
/*Fun button styles*/
.navbar-moco .navbar-nav .nav-link-fun{
  color:rgba(255, 255, 255);
  display: block;
  padding:.5rem 1.5rem;
  background-color: rgb(239,209,4);
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
}
.nav-link-news:focus,.nav-link-fun:hover{
  text-decoration:none
}

.navbar-moco .navbar-nav .nav-link-fun:focus,
.navbar-moco .navbar-nav .nav-link-fun:hover{
  color:rgba(255,255,255);
  background-color: rgba(239, 208, 4, 0.877);
}
/*Find button styles*/
.navbar-moco .navbar-nav .nav-link-find{
  color:rgba(255, 255, 255);
  display: block;
  padding:.5rem 1.5rem;
  background-color: rgb(168,101,202);
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
}
.nav-link-news:focus,.nav-link-find:hover{
  text-decoration:none
}

.navbar-moco .navbar-nav .nav-link-find:focus,
.navbar-moco .navbar-nav .nav-link-find:hover{
  color:rgba(255,255,255);
  background-color: rgba(168, 101, 202, 0.863);
}

.navbar-moco .navbar-nav .nav-link-menu{
  color:rgba(255, 255, 255, 0.774);
  display: block;
  padding:.9rem 1.5rem;
  background-image: url("./../../assets/images/Home_WhiteIcon_Desactivado.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.navbar-moco .navbar-nav .nav-link-menu:focus,
.navbar-moco .navbar-nav .nav-link-menu:hover{
  background-image: url("./../../assets/images/HomeOrangeIcon_MouseOver.png");
}


.navbar-moco .navbar-nav .nav-link-search{
  color:rgba(255, 255, 255, 0.774);
  display: block;
  padding:1rem 1.5rem;
  background-image: url("./../../assets/images/Lupa_Home.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.navbar-moco .navbar-nav .nav-link-moconauta{
  color:rgb(255, 255, 255);
  display: block;
  padding:.4rem 2rem;
  position: absolute;
  margin: 0%;
  font-family: 'Arial';
  font-size: 100%;
}
.navbar-moco .navbar-nav .nav-link-moconauta .profile-pic{
  height: 19.3167px;
  width: 19.3167px;
  position: absolute;
  left: 0rem;
  top: 6.4px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain; 
  border: 0.5px solid #ffffff;
    background-size: cover;
    background-position: center;
}
.navbar-moco .navbar-nav .nav-link-moconauta .opciones{
color:rgb(141, 150, 61);
font-family: 'Anaheim';
font-size: 120%;
}
.nav-link-news:focus,.nav-link-moconauta:hover{
  text-decoration:none
}


.navbar-moco .navbar-nav .active>.nav-link,.navbar-moco .navbar-nav .nav-link.active,.navbar-moco .navbar-nav .nav-link.show,.navbar-moco .navbar-nav .show>.nav-link{
  color:#fff;
  
}
.navbar-moco .navbar-toggler{

  display: none;
}
.navbar-moco .navbar-toggler-icon{
  background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")}













  .bg-moco-second-menu{
    background-color:rgb(145, 211, 32)!important;
    padding: .0rem 0rem;
    display: none;
  }
  .navbar-moco-second-menu .navbar-nav .nav-link{
    color:rgba(255, 255, 255, 0.774);
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-quienes-somos,
  .navbar-moco-second-menu .navbar-nav .nav-link-moco-shop,
  .navbar-moco-second-menu .navbar-nav .nav-link-moco-app,
  .navbar-moco-second-menu .navbar-nav .nav-link-revista-tri,
  .navbar-moco-second-menu .navbar-nav .nav-link-mocotips-padres,
  .navbar-moco-second-menu .navbar-nav .nav-link-contacto{
    color:rgba(255, 255, 255, 0.774);
    font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
    background-color: rgb(205,148,45);
    display: block;
    padding:.9rem 1.5rem;
    padding-left: 3.6rem;
    margin-top: .5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-size: contain;
  }

  /*   */
  .navbar-moco-second-menu .navbar-nav .nav-link-quienes-somos{
    background-image: url("./../../assets/images/quienes_verde.png");
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-moco-shop{
    background-image: url("./../../assets/images/carritobutton.png");
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-moco-app{
    background-image: url("./../../assets/images/telefonobutton.png");
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-revista-tri{
    background-image: url("./../../assets/images/revistabutton.png");
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-mocotips-padres{
    background-image: url("./../../assets/images/focobutton.png");
  }
  .navbar-moco-second-menu .navbar-nav .nav-link-contacto{
    background-image: url("./../../assets/images/correitobutton.png");
    margin-bottom: 1rem;
  }
  
  
  
  .navbar-moco-second-menu .navbar-nav .active>.nav-link,.navbar-moco-second-menu .navbar-nav .nav-link.active,.navbar-moco-second-menu .navbar-nav .nav-link.show,.navbar-moco-second-menu .navbar-nav .show>.nav-link{
    color:#fff;  
  }
  .navbar-moco-second-menu .navbar-toggler{
    color:rgba(235, 220, 220, 0.5);
    width: 100%;
    float: none;
    margin-right: 0;
  }
  .navbar-moco-second-menu .navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");

  }
  
























  .el-moco-banner {
    height: 275px;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat; 
    background-image:  url("./../../assets/images/banner-sin-moco.png");
  }
  .el-moco-banner .logo-hd{ 
    position: absolute;
    width:20%;
    height:60%;
    left: 40%;
    bottom: 5%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat; 
    background-image:  url("./../../assets/images/Logo_ElMoco.png");
  }

  .footer{
    min-height: 180px;
    margin: 0px;
    position: relative;
    display: -webkit-flex;
    display:         flex;
    -webkit-flex-flow: row;
            flex-flow: row;
            background-image:url("./../../assets/images/Green_Footer.png");         
  }
  .footer .logo{ 
    width:15rem;
    height:60%;
    position: absolute;
    top: 10%;
    right: 70%;
    background-image:url("./../../assets/images/LogoMoco_Header.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
 
  .footer .redes-box{ 
    width:20rem;
    height:40%;
    position: absolute;
    top: 30%;
    right: 8.5%;

  }
  .footer .redes-box .fb{ 
    width:20%;
    height:100%;
    position: absolute;
    left: 0%;
    background-image:url("./../../assets/images/Facebook_Icon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .footer .redes-box .tw{ 
    width:20%;
    height:100%;
    position: absolute;
    left: 27%;
    background-image:url("./../../assets/images/Twitter_Icon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .footer .redes-box .in{ 
    width:20%;
    height:100%;
    position: absolute;
    right: 27%;
    background-image:url("./../../assets/images/Instagram_Icon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .footer .redes-box .yt{ 
    width:20%;
    height:100%;
    position: absolute;
    right: 0%;
    background-image:url("./../../assets/images/Youtube_Icon.png"); 
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .footer .avisos-ter-box{ 
    width:25rem;
    height:10%;
    position: absolute;
    bottom: 10%;
    right: 5%;
    color:rgba(255, 255, 255, 0.774);
    font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
    text-align: center;
    font-size: 120%;
  }
  .footer .text-box,
  .footer .avisos-ter-box .avisos,
  .footer .avisos-ter-box .terminos,
  .footer .lema{
    color:rgba(255, 255, 255, 0.774);
    position: absolute;
    font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
    text-align: center;
    font-size: 100%;
  }

  .footer .lema{ 
    width:25rem;
    height:10%;
    position: absolute;
    bottom: 10%;
    right: 63%;

    font-size: 120%;
  }
  .footer .text-box{ 
    width:25rem;
    height:10%;
    top: 10%;
    right: 5%;

    font-size: 120%;
  }
  .footer .avisos-ter-box .avisos{ 
    width:39%;
    height:100%;
    left:0%;
  }
  .footer .avisos-ter-box .franja{ 
    width:1%;
    height:100%;
    position: absolute;
    left: 39%;
    background-color: rgb(45, 187, 2);
  }
  .footer .avisos-ter-box .terminos{ 
    width:60%;
    height:100%;
    right: 0%;

  }

  .footer .avisos-ter-box .terminos:hover,
  .footer .avisos-ter-box .avisos:hover{ 
    color:rgba(250, 185, 8, 0.774);
  }

.structure {
  min-height: auto;
  margin: 0px;

  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
          background-image: url("./../../assets/images/Backround_Lines.jpg");
          background-repeat: no-repeat;
          background-size: 100%, 100%;
          
}
.structure .first-news {

  position: relative;
  -webkit-flex: 3 1 60%;
          flex: 3 1 60%;
  -webkit-order: 2;
          order: 2;
         
}
.structure .first-news .new-image-banner {


  background-image: url("./../../assets/images/Banner_historia.png");
  background-repeat: no-repeat;
  background-size: contain; 
  background-position: center;
  width:80%;
  height:65%;
  position: absolute;
  bottom: 5%;
  left: 15%;
  border-radius: 20px;
}
.structure .first-news .new-line {

  width:80%;
  height:15%;
  position: absolute;
  top: 20%;
  left: 15%;
  color: rgb(83, 189, 22);
  text-decoration: none; 
  font-size:400%; 
  align-content: center;
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
  text-align: center;
}


.structure .first-news .new-line .new-line-moco{

  background-image: url("./../../assets/images/Moco_Noticia.png");  
  background-repeat: no-repeat;
  background-size: contain;
  width:8%;
  height:85%;
  position: absolute;
  top: 5%;
  right: 5%;

}

.structure .first-news .quienes-somos-text2 {

  width:80%;
  height:15%;
  position: absolute;
  top: 25%;
  left: 10%;
  border-radius: 5px;
  color: rgb(255, 255, 255); /* Black text color */
  text-decoration: none; /* Remove underline from links */
  font-family: Marker Felt;
  font-size:200%;
  text-align: center;

}

.structure .options{
  margin: 4px;
  padding: 5px;
  position: relative;
  -webkit-flex: 1 6 20%;
          flex: 1 6 20%;
  -webkit-order: 3;
          order: 3;
          
         
}
.structure .options .vertical-menu{
  width: 300px; 
  margin-top: 35px;
  margin-left: 0px;
}
.structure .options .vertical-menu a.options{
  background-image: url("./../../assets/images/Barra_Desactivado.png");
  color: rgb(255, 255, 255); 
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
  display: block; 
  padding: 18px; 
  margin: 15px;
  text-decoration: none; 
  border-radius: 5px;
  padding-left: 3.6rem;
  position: relative;
}
.structure .options .vertical-menu a.options:hover{
  background-image: url("./../../assets/images/Barra_MouseOver.png");
} 

.structure .options .vertical-menu a.menu{
  background-color: rgb(14, 71, 16); /* Add a green color to the "active/current" link */
  color:rgb(114, 192, 25);
  text-align: center;
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
  display: block;
  padding: 18px; 
  margin: 15px;
  border-radius: 15px;
  border-radius: 5px;
  position: relative;
}
.structure .options .vertical-menu a.menu .first-moco{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../assets/images/Moco_Sorprendido.png");
  position: absolute; 
  left: 5px;
  top: -25%;
  width: 18%;
  height: 125%;
}
.structure .options .vertical-menu a.menu .second-moco{
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("./../../assets/images/MocoDetalle.png");
  position: absolute; 
  right: 0px;
  top: 0px;
  width: 18%;
  height: 100%;
}

.structure .options .vertical-menu a.options .quienes,
.structure .options .vertical-menu a.options .moco-shop,
.structure .options .vertical-menu a.options .moco-app,
.structure .options .vertical-menu a.options .revista,
.structure .options .vertical-menu a.options .mocotips,
.structure .options .vertical-menu a.options .contacto{
  background-repeat: no-repeat;
  background-size: 50%, 50%;
  background-position: center;
  position: absolute; 
  left: 0px;
  top: 0px;
  width: 18%;
  height: 100%;
}
.structure .options .vertical-menu a.options .quienes{
  background-image: url("./../../assets/images/BaraQuienesSomos_Perfil_Icono.png");
}
.structure .options .vertical-menu a.options .moco-shop{
  background-image: url("./../../assets/images/Carrito_IconoBlanco.png");
}
.structure .options .vertical-menu a.options .moco-app{
  background-image: url("./../../assets/images/Telefono_IconoBlanco.png");
}
.structure .options .vertical-menu a.options .revista{
  background-image: url("./../../assets/images/Revista_IconoBlanco.png");
}
.structure .options .vertical-menu a.options .mocotips{
  background-image: url("./../../assets/images/Foco_IconoBlanco.png");
}
.structure .options .vertical-menu a.options .contacto{
  background-image: url("./../../assets/images/Correo_IconoBlanco.png");
}














.banner{
  display: block;
  margin: 0px;
  padding-top: 0px;
  padding-bottom:  0px;
  min-height: 32px;
  
}
/*Estilo inicial al entrar al sitio*/
.second-news{
  display: block;
  margin-top: 0px;
  height: auto;
  background-image: url("./../../assets/images/Backround_Lines.jpg");
}
.second-news .latest-news {
  width: auto; 
  height: auto;
  margin-left: 5%;
  margin-right:  5%;
  display: flex;
  
}
.second-news .latest-news .big-new { /** SI SE USA **/
  margin-left: 65px;
  margin-right: 35px;
  text-decoration: none; 
  border-radius: 10px;
  width:75%;
  height:4000px;
  position: relative;
  padding-top: 0px;
}    
.second-news .latest-news .big-new .comments-opinion-text{

  text-decoration: none; 
  font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
  border-radius: 10px;
  width:100%;
  height:70%;
  top: -7%;
  position: absolute;
  font-size:150%;
  text-align: left;
  color: rgb(0, 0, 0); 
}
.second-news .latest-news .big-new .comments-opinion-text .green-comment{
  color: rgb(83, 189, 22);
}



.second-news .latest-news .options{
  margin: 4px;
  padding: 5px;
  position: relative;
  width: 25%;
  -webkit-order: 3;
          order: 3;        
}


@media all and (max-width: 1450px) {}


@media all and (max-width: 1400px) {
  .structure .options .vertical-menu a.options{  
    padding: 17px; 
    margin: 14px;
    padding-left: 3.6rem;
  }
  .structure .options .vertical-menu a.menu{
    padding: 17px; 
    margin: 14px;
  }
  .structure .options .vertical-menu{
    margin-top: 10px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:4500px;
  } 
  .second-news .latest-news .big-new .comments-opinion-text{
    top: -5.5%;
  }
}
@media all and (max-width: 1350px) {
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:4700px;
  } 
}
@media all and (max-width: 1300px) {
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:4900px;
  } 
  .structure .first-news .new-line {
    font-size:300%; 
  }
}
@media all and (max-width: 1230px) {
  .structure .options .vertical-menu a.options{  
    padding: 16px; 
    margin: 13px;
    padding-left: 3.6rem;
  }
  .structure .options .vertical-menu a.menu{
    padding: 16px; 
    margin: 13px;
  }
  .structure .options .vertical-menu{
    margin-top: 10px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:5050px;
  } 
}
@media all and (max-width: 1180px) {
  .structure .options .vertical-menu a.options{  
    padding: 15px; 
    margin: 12px;
    padding-left: 3.6rem;
  }
  .structure .options .vertical-menu a.menu{
    padding: 15px; 
    margin: 12px;
  }
  .structure .options .vertical-menu{
    margin-top: 10px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:5250px;
  } 
}
@media all and (max-width: 1120px) {
  .structure .options .vertical-menu a.options{  
    padding: 14px; 
    margin: 11px;
    padding-left: 3.6rem;
  }
  .structure .options .vertical-menu a.menu{
    padding: 14px; 
    margin: 11px;
  }
  .structure .options .vertical-menu{
    margin-top: 10px;
  }

}
@media all and (max-width: 1080px) {
.footer .logo{ 
  right: 65%;
}
.footer .lema{ 
  right: 58%;
}
}
@media all and (max-width: 1060px) {
.structure .options .vertical-menu a.options{  
  padding: 12px; 
  margin: 10px;
  padding-left: 3.6rem;
}
.structure .options .vertical-menu a.menu{
  padding: 12px; 
  margin: 10px;
}
.structure .options .vertical-menu{
  margin-top: 10px;
}
.structure .first-news .new-line {
  font-size:300%; 
} 

}
@media all and (max-width: 1300px) {
  .el-moco-banner {
    height: 250px;
  }
}
@media all and (max-width: 1260px) {
  .el-moco-banner {
    height: 230px;
  }
}
@media all and (max-width: 1150px) {
  .el-moco-banner {
    height: 210px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:6200px;
  } 
  .second-news .latest-news .big-new .comments-opinion-text{
    top: -4%;
    width: 90%;
  }
}
@media all and (max-width: 1100px) {
  .el-moco-banner {
    height: 190px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:6400px;
  } 
  .structure .first-news .new-line {
    font-size:200%; 
  }
}
@media all and (max-width: 1050px) {
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:6900px;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    top: -3%;
    width: 90%;
  } 
}
@media all and (max-width: 1000px) {
  .second-news .latest-news .big-new { /** SI SE USA **/
    height:7000px;
  } 
}
@media all and (max-width: 991px) {
  .navbar-moco .navbar-nav .nav-link-moconauta{
    position: static;
  }
  .navbar-moco .navbar-nav .nav-link-moconauta .profile-pic{
    position: relative;
    left: -1.5rem;
    top: 18px;
  }

  .navbar-moco .navbar-toggler{
    color: rgb(255, 255, 255);
    text-decoration: none; 
    font-family: 'Varela Round'; /*fuente personalizada importada con @font-face*/
    font-size:150%;
    width: 100%;
    float: none;
    margin-right: 0;
    height: 40px;
    background-image: url("./../../assets/images/Moco_Sorprendido.png");
    background-position-x: 25%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
}
.el-moco-banner {
  height: 210px;
}
.bg-moco-second-menu{
  background-color:rgb(145, 211, 32)!important;
  padding: .0rem 0rem;
  display: block;
}
.structure .options .vertical-menu{
  width: 100%; 
  -webkit-order: 0;
          order: 0;
  display: none;
  background-color: rgb(179, 67, 151);
 }
 .structure .options{
  display: none;
 }
 .navbar-moco-second-menu .navbar-toggler{
  display: block;
 }
 .structure .first-news{
     -webkit-order: 0;
             order: 0;
    background-size: contain;
    height: 100px;
    }
    .second-news .latest-news .big-new { /** SI SE USA unu**/
      margin-left: 0px;
      margin-right: 0px;
      text-decoration: none; 
      border-radius: 10px;
      width:100%; /*unu*/
      height: fit-content;
      position: relative;
      display: block;
    
    }   
    .second-news .latest-news .big-new .comments-opinion-text{
      height: auto;
      position: relative;
      width: 80%;
      left: 10%;
    }
    .second-news .latest-news {
      width: auto; 
      height: auto;       
      -webkit-order: 0;
           order: 0;
           display: block;
      padding-bottom: 5px;
     }
    .structure {
              background-size: cover;             
    }
    .structure .first-news .new-image-banner, .structure .first-news .new-line {
      left: 0%;
      width: 100%;
      height: 100%;
      top: 0%;
        }
    .second-news .latest-news .big-new { /** SI SE USA **/
      width:100%;
    }    
    .second-news .latest-news .options{

      width: 0%;       
    }
    .second-news .latest-news .big-new { /** SI SE USA **/
      height:auto;
    } 
}
@media all and (max-width: 950px) {
  .el-moco-banner {
    height: 170px;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:130%;
  }
  .structure {
    background-size: 120%, 100%;  
}

.footer{
  min-height: 360px;           
}


.footer .logo{ 
  width:15rem;
  height:30%;
  position: absolute;
  top: 10%;
  right: 35%;

}
.footer .lema{ 
  width:25rem;
  height:5%;
  top: 40%;
  right: 25%;
}
.footer .redes-box{ 
  width:20rem;
  height:20%;
  top: 60%;
  right: 29%;
}   
.footer .avisos-ter-box{ 
  width:25rem;
  height:5%;
  position: absolute;
  bottom: 7%;
  right: 25%;
}
.footer .text-box{ 
  width:25rem;
  height:5%;
  top: 50%;
  right: 25%;
  font-size: 120%;
}

}
@media all and (max-width: 900px) {
  .el-moco-banner {
    height: 170px;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:130%;
  }
  .structure {
    background-size: 120%, 100%;  
}

}
@media all and (max-width: 850px) {
  .el-moco-banner {
    height: 150px;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:120%;
  }
  .structure {
    background-size: 130%, 100%;  
  }

}

@media all and (max-width: 750px) {
  .el-moco-banner {
    height: 130px;
  }
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:110%;
  }
  .structure {
    background-image: url("./../../assets/images/Backround_Lines.jpg");
    background-size: 200%, 100%;     
  }
}
@media all and (max-width: 700px) {
  .structure .first-news{
   height: 350px;
   }
   .structure .first-news .new-line {
    font-size:200%; 
  }
  .footer .logo{ 
    right: 32%;
  }
  .footer .lema{ 
    right: 20%;
  }
  .footer .redes-box{ 
    right: 24%;
  }   
  .footer .avisos-ter-box{ 
    right: 20%;
  }
  .footer .text-box{ 
    right: 20%;
  }
}
@media all and (max-width: 650px) {
  .el-moco-banner {
    height: 170px;
    background-image:  url("./../../assets/images/banner-sin-moco-pequeño.png");
}
.el-moco-banner .logo-hd{ 
  position: absolute;
  width:30%;
  height:70%;
  left: 35%;
  bottom: 5%;
}
}
@media all and (max-width: 608px) {
.footer .logo{ 
  right: 27%;
}
.footer .lema{ 
  right: 15%;
}
.footer .redes-box{ 
  right: 19%;
}   
.footer .avisos-ter-box{ 
  right: 15%;
}
.footer .text-box{ 
  right: 15%;
}
}
@media all and (max-width: 575px) {
  .el-moco-banner {
    height: 160px;
  }
  
}
@media all and (max-width: 550px) {
.footer .logo{ 
  right: 25%;
}
.footer .lema{ 
  right: 10%;
}
.footer .redes-box{ 
  right: 14%;
}   
.footer .avisos-ter-box{ 
  right: 10%;
}
.footer .text-box{ 
  right: 10%;
}
}
@media all and (max-width: 500px) {
  .el-moco-banner {
    height: 150px;
  }
  .second-news .latest-news .big-new { /** SI SE USA **/
    margin-left: 13%;
    margin-right: 15%;
  }  
}
@media all and (max-width: 480px) {
.footer .logo{ 
  right: 25%;
}
.footer .lema{ 
  right: 7%;

}
.footer .redes-box{ 
  right: 13%;
}   
.footer .avisos-ter-box{ 
  right: 7%;   
}
.footer .text-box{ 
  right: 7%;
}
}
@media all and (max-width: 450px) {
  .el-moco-banner {
    height: 140px;
  }
  .el-moco-banner .logo-hd{ 
    position: absolute;
    width:40%;
    left: 30%;
    bottom: 5%;
  }

.footer .logo{ 
  width:10rem;
  height:30%;
  position: absolute;
  top: 10%;
  right: 30%;

}
.footer .lema{ 
  width:20rem;
  height:5%;
  top: 40%;
  right: 10%;
  font-size: 100%;
}
.footer .redes-box{ 
  width:15rem;
  height:20%;
  top: 60%;
  right: 20%;
}   
.footer .avisos-ter-box{ 
  width:20rem;
  height:5%;
  position: absolute;
  bottom: 7%;
  right: 10%;
}
.footer .text-box{ 
  width:20rem;
  height:5%;
  top: 50%;
  right: 10%;
  font-size: 120%;
}
.footer .avisos-ter-box .franja{ 
  background-color: rgba(0, 0, 0, 0);
}
}
@media all and (max-width: 400px) {
  .el-moco-banner {
    height: 130px;
  }

.footer .logo{ 
  right: 25%;
}
.footer .lema{ 
  right: 5%;

}
.footer .redes-box{ 
  right: 15%;
}   
.footer .avisos-ter-box{ 
  right: 5%;   
}
.footer .text-box{ 
  right: 5%;
}
}
@media all and (max-width: 350px) {
  .el-moco-banner {
    height: 120px;
  }

.footer .logo{ 
  right: 22%;
}
.footer .lema{ 
  right: 10%;
  width:16rem;

}
.footer .redes-box{ 
  right: 15%;
}   
.footer .avisos-ter-box{ 
  right: 10%;
  font-size: 80%; 
  width:16rem; 
}
.footer .text-box{ 
  right: 10%;
  width:16rem;
}
}




@media all and (max-width: 640px) {

  
  .structure, #page {
    -webkit-flex-flow: column;
         flex-flow: column;
    padding-left: 30px;
    padding-right: 30px;
    height: 25%;
    background-size: cover;
    }

        .structure .first-news .new-line {
          font-size: 300%;
        }
        .structure {
          background-image: url("./../../assets/images/Backround_Lines.jpg");
          background-size: 200%, 100%;  
      }

      /*Área con las 5 noticias más recientes de cada sección*/
      .second-news{
        margin-top: 0px;
      }
     .second-news .latest-news {
      width: auto; 
      height: auto;       
      -webkit-order: 0;
           order: 0;
           display: block;
      padding-bottom: 30px;
     }
     .second-news .latest-news .big-new { /** SI SE USA **/
      margin-left: 0px;
      width:100%;
    }  

    .second-news .latest-news .big-new .comments-opinion-text{
      font-size:150%;
      margin-top: 0px;
      top: -1%;
    }

     .second-news .latest-news a{
      width: auto; 
      height: 300px;
      display: block;
      margin-top: 0px;
          
     }


 }
 @media all and (max-width: 580px) {
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:140%;
  }
  .structure {
    background-size: 220%, 100%;  
}

 }
 @media all and (max-width: 550px) {
  .structure .first-news .new-line {
    font-size: 200%;
  }
 }
 @media all and (max-width: 515px) {
  .structure, #page {
    height: 10%;
    }
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:130%;
  }
  .structure {
    background-size: 240%, 100%;  
}
 }

 @media all and (max-width: 480px) {
  .structure .first-news .new-line {
    font-size: 160%;
  }
  .structure {
    background-size: 260%, 100%;  
}
 }

 @media all and (max-width: 440px) {
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:120%;
  }
      .structure {
        background-size: 280%, 100%;  
    }
 }
 @media all and (max-width: 410px) {
  .structure {
    background-size: 300%, 100%;  
}
 }
 @media all and (max-width: 380px) {
  .second-news .latest-news .big-new .comments-opinion-text{
    font-size:110%;
  }

    .structure {
      background-size: 320%, 100%;  
  }

  .structure .first-news .new-line {
    font-size: 160%;
  }
 }
 @media all and (max-width: 320px) {
  .second-news .latest-news .big-new .button-publish{
    bottom:-5%;

    }

      .structure .first-news .new-line {
        font-size: 120%;
      }
      .structure {
        background-size: 340%, 100%;  
    }
 }
 .contact2{

  height:180px;
  position: relative;
  margin: 0px;
  display: -webkit-flex;
  display:         flex;
  -webkit-flex-flow: row;
          flex-flow: row;
          background-image: url("./../../assets/images/captura2.png");
          background-repeat: no-repeat;
          background-size: 100%,100%;
}