@font-face {
    font-family: 'Arial-Rounded';
    src: url('./../../fonts/thin/Arial-Rounded.woff2') format('woff2'),
        url('./../../fonts/thin/Arial-Rounded.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Arial-Rounded-Bold';
    src: url('./../../fonts/thin-bold/VagRoundedBold.woff2') format('woff2'),
        url('./../../fonts/thin-bold/VagRoundedBold.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Rounded LT Std';
    src: url('./../../fonts/helvetica/HelveticaRoundedLTStd-BdCn.woff2') format('woff2'),
        url('./../../fonts/helvetica/HelveticaRoundedLTStd-BdCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Varela Round';
    src: url('./../../fonts/varela/VarelaRound-Regular.woff2') format('woff2'),
        url('./../../fonts/varela/VarelaRound-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Anaheim';
    src: url('./../../fonts/anaheim/Anaheim-Regular.woff2') format('woff2'),
        url('./../../fonts/anaheim/Anaheim-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Black';
    src: url('./../../fonts/helvetica-black/HelveticaNeueLTStd-BlkCn.woff2') format('woff2'),
        url('./../../fonts/helvetica-black/HelveticaNeueLTStd-BlkCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Helvetica Italic';
    src: url('./../../fonts/helvetica-italic/HelveticaNeueLTStd-ThIt.woff2') format('woff2'),
        url('./../../fonts/helvetica-italic/HelveticaNeueLTStd-ThIt.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


